.react-select-container:focus {
  outline: none;
}
.react-select__value-container:focus {
  outline: none;
}
.css-1okebmr-indicatorSeparator {
  background-color: #fff !important;
}

.css-1pahdxg-control {
  border-color: #ccc !important;
}
